
.bg-styl {
    background-image: linear-gradient(#8c8f8b, #bdc78d);

}

.image {
    height: 120px;
    width: 120px;
    border-radius: 50px;

}

.head {
    font-size: 25px;
}

.text-color {
    color: black;
}

.conatin {
    background-color: #acc78d;
    border-radius: 10px;
    border-color: #292e24;
    border-style: solid;
}

.img2 {
    height: 200px;
    width: 200px;
    border-radius: 30px;

}
